@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.board-row {
  padding: 1px 1px 1px 1px;
}

.board {
  position: absolute;
  
}

.board-container{
  display: flex;
  align-items: center;   
  justify-content: center; 
  height: 100vh;            
  position: relative;

}

.square {
  width: 100px;
  height: 100px;
  font: bold 36px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

.selected {
  background-color: #444;
  color: #eee;
}

.correct {
  background-color: #070;
  color: #eee;
}

.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

.button-container {
  display: flex;
}

.score {
  display: flex;
  align-items: center;   
  justify-content: center;             
  position: relative;
  top: -29vh;
  margin-right: 50px;
  user-select: none;
}

.numMoves {
  display: flex;
  align-items: center;   
  justify-content: center;           
  position: relative;
  top: -29vh;
  margin-left: 50px;
  user-select: none;
}

.score-moves-container{
  display: flex;
}

.chooseConfigButton{
  position: absolute;
  left: 75%;
  top: 25%;
  user-select: none;
  color: black;
  background-color: white;
}

.checkSolutionButton{
  margin-left: 50px;
  user-select: none;
  color: black;
  background-color: white;
}

.resetGameButton{
  margin-right: 50px;
  user-select: none;
  color: black;
  background-color: white;
}

.check-reset-container{
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
  top: -21vh;
}